*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* GENERAL RULES */

a {
    font-weight: 400;
    text-decoration: none;
    
}

a + a {
    margin-right: 25px;
    margin-left: 25px;
}

button {
    padding: 7px 12px;
    border-radius: 20px 20px;
    border: none;
    background-color: white;
    
}

.logo-discord {
    width: 50%;
}


.button-white {
    color: black;
}

.button-black {
    color: white;
    background-color: black;
   
}

.button-blue {
    background-color: #8EA1E1;
    color: white;
    margin-top: 0px;

}

.titoli-laterali {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.wave {
    width: 100%;
    margin-bottom:-10px ;
}

.reverse-weave {
    transform: scaleY(-1);
}



/* HEADER STYLE */

.section-1 {
    
    width: 100%;
    height: 80px;
    background-color: #265EE9;
    

}


.container-menu {
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0 ;
}


.row {
    display: flex;
    width: 70%;
    height: 50px;
    background-color: transparent;
}




.col-small {
   
    border-radius: 40%;
    padding: 10px;
    text-align: center;
    width: 20%;
    height: 50px;
    background-color: transparent ;

}


.col-large {
    
    padding: 15px;
    text-align: center;
    width: 60%;
    height: 50px;

}

.b-menu {
    color: white;
}


/* END HEADER STYLE */

/* GENERAL ROLE CONTAINER */
.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0 ;
}

/* SEZIONE 1 */

.section-2{
    background-image: url(./img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px; 
    


}


.row-60 {
    text-align: center;
    display: flex;
    width: 45%;
    height: 300px;
    color: white;
}

.box-paragrafo-1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    
}


.title-download {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    
    
}

.text-top {
    font-weight: 500;
  
}

.button-accedi{
    color: rgb(0, 0, 0);
    font-size: 10px;
}


.buttons-top {
    padding: 20px;
    
}

.button-left {
    background-color: white;
    margin-right: 20px;

}

.button-right {
    background-color: black;
    margin-left: 20px;

}




/* SEZION 2-4 */


.row-70 {
    margin-top: 50px;
    display: flex;
    width: 70%;
    height: 400px;
    background-color: transparent;
    
}



.col-40 {
    width: 40%;
    background-color: transparent;
    


}

.col-60 {
    width: 60%;
    background-color: transparent;
    

}

.empty{
    background-color: white;
}


.reverse {
    background-color: #F6F6F6;

}

.img-1 {
    background-image: url(./img/item1.svg);
    background-repeat: no-repeat;
    background-size: 500px;
}

.img-2 {
    background-image: url(./img/item2.svg);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: 100px 0px;
    
}


.img-3 {
    background-image: url(./img/item3.svg);
    background-repeat: no-repeat;
    background-size: 500px;
}

/* CONTAINER GRANDE UNICO */

.section-3{
    background-color: #F6F6F6;
}


.higther-row {
    height: 1000px;
    width: 70%;
    background-color: transparent;
   

}

.col-70 {
    height: 1000px;
    width: 100%;
    background-color: transparent;
    text-align: center;
    

}


.titolo-centrale {
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 30px;

}

.pronto-a-iniziare {
    padding: 20px;
    background-image: url(./img/stars.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 35%;
    margin-top: 20px;
}
.mac{
    margin-top: 20px;
}

  /* CONTAINER SUDDIVISO IN 5 SEZIONI  */

.section-footer {
    background-color: black;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0px 50px ;
}

/* FOOTER */

.row-footer {
    margin-top: 60px;
    display: flex;
    width: 70%;
    height: 500px;
    background-color: transparent;
}

.col-footer-33 {
    width: 33%;
    height: 500px;
    background-color: transparent;
    border: 2px dashed black;
}
.col-footer-17{
    width: 17%;
    height: 500px;
    background-color: transparent;
   


}

.il-tuo-posto {
    width: 170px;
    font-size: larger;
    color: #7084c6;
}



.flag {
    margin-top: 20px;
    margin-right: 10px;
    width: 15%;
}

.italiano {
    display: inline;
    color: white;
    font-size: 12px;
    
    
}
.loghi {
    margin-top: 10px;
    margin-right: 30px;
    width: 15px;
}

.titoli-footer {
    font-size: 12px;
    font-weight: 600;
    color: #7084c6;

}


li {
    font-size: 12px;
    list-style: none;
    color: white;
    margin-top: 12px;
}


/* FOOTER BASSO */

.section-footer-basso {

    width: 100%;
    background-color: black;
}


.container-footer-basso {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px 0px 50px ;
}


.row-footer-basso {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 80px;
    border-top: 1px solid #7084c6;
}

.bottoni-bassi {
    padding-top: 1px;
    text-align: center;
    align-self: center;
    width: 12%;
    height: 30px;
    
    
}





